@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "movie";
  src: url("./myFont1.ttf");
}
@font-face {
  font-family: "main";
  src: url("./URWDIN.woff");
}
@font-face {
  font-family: "main1";
  src: url("./FKGroteskNeue.woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BenchNine:wght@700&family=DM+Serif+Display&family=Roboto+Condensed:wght@400;500&family=Roboto:wght@100&display=swap");

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(224, 224, 224);
  padding: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 14px;
}

* {
  box-sizing: border-box;
}

#moving-line-poster {
  font-family: "movie";
}

.my-font {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.main-font{
  font-family: "main";
}
.main1-font{
  font-family: "main1";
}

